<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="controller" class="com.geek.controller.AccountController">-->
<!--      <property name="accountService" ref="service"></property>-->
<!--    </bean>-->
<!--    <bean id="service" class="com.geek.service.AccountServiceImpl">-->
<!--        <property name="accountRepository" ref="repo"></property>-->
<!--    </bean>-->
<!--    <bean id="repo" class="com.geek.repository.AccountRepositoryImpl">-->
<!--    </bean>-->

    <bean id="controller" class="com.geek.controller.AccountController" autowire="byType">
    </bean>
    <bean id="service" class="com.geek.service.AccountServiceImpl" autowire="byType">
    </bean>
    <bean id="repo" class="com.geek.repository.AccountRepositoryImpl">
    </bean>
</beans>