<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- autowiring by annotation config. Removing xml configuration and replacing bean with component -->

<!--    <bean id="controller" class="com.geek.controller.AccountController">-->
<!--    </bean>-->
<!--    <bean id="service" class="com.geek.service.AccountServiceImpl" autowire="byType">-->
<!--    </bean>-->
<!--    <bean id="repo" class="com.geek.repository.SavingsAccountImpl">-->
<!--    </bean>-->
<!--    <ctx:annotation-config></ctx:annotation-config>-->
    <ctx:component-scan base-package="com.geek"></ctx:component-scan>

</beans>